<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678945069239-ql9ogeons3um3h239ok8jf9c5o4hok9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678945069239-ql9ogeons3um3h239ok8jf9c5o4hok9q</string>
	<key>API_KEY</key>
	<string>AIzaSyAkvWKlEsLfCi6NstkbaFwQdtFguoUb9IA</string>
	<key>GCM_SENDER_ID</key>
	<string>678945069239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.miiiiiin.iChat</string>
	<key>PROJECT_ID</key>
	<string>firtest-44037</string>
	<key>STORAGE_BUCKET</key>
	<string>firtest-44037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678945069239:ios:c944dc2ad52c19c893d532</string>
	<key>DATABASE_URL</key>
	<string>https://firtest-44037.firebaseio.com</string>
</dict>
</plist>